{% include "_header.html" %}
{% include "_navbar.html" %}
	<div class="container">	

	{{baseURL}}
{% if staticcharttemp %}
	<div class="container-fluid">
	  <div class="row">
		  <div class="container-fluid" id="staticcharttemp-container"></div>
		</div>
	</div>
{% endif %}
{% if staticchartwatt %}
	<div class="container-fluid">
	  <div class="row">
		  <div class="container-fluid" id="staticchartwatt-container"></div>
		</div>
	</div>
{% endif %}
{% if mylivechart %}
	<div class="container-fluid">
	  <div class="row">
		  <div class="container-fluid" id="mylivechart-container"></div>
		</div>
	</div>
{% endif %}
	

	</div>

    
	<hr>
{% include "_footer.html" %}
