{% include "_header.html" %}
{% include "_navbar.html" %}
	<div class="container">	

	<p>URL : {{baseURL}}</p>
	<p>Dernier enregistrement : {{lastRecordAgo}}</p>
	<p>debugData : {{debugData}}</p>
	

{% if staticcharttemp %}
	<div class="container-fluid">
	  <div class="row">
		  <div class="container"  style="height: 800px" id="staticcharttemp-container"></div>
		</div>
	</div>
{% endif %}
{% if staticchartwatt %}
	<div class="container-fluid">
	  <div class="row">
		  <div class="container-fluid" id="staticchartwatt-container"></div>
		</div>
	</div>
{% endif %}
{% if mylivechart %}
	<div class="container-fluid">
	  <div class="row">
		  <div class="container-fluid" id="mylivechart-container"></div>
		</div>
	</div>
{% endif %}
	

	</div>

    
	<hr>
{% include "_footer.html" %}
