{% macro render_field(field, size, class_validness) -%}	
	{% if field.type == 'IntegerField'
	   or field.type == 'TextAreaField' 
	   or field.type == 'StringField' %}
		{{ render_textfield(field, size, class_validness) }}
	{% elif field.type == 'BooleanField' %}
		{{ render_boolean(field, size, class_validness) }}
	{% endif %}
{%- endmacro %}

{% macro render_boolean(field, size, class_validness) -%}	
	{% if field.data == True %}
		{% set checked = 'checked' %}
	{% endif %}
	<div class="custom-control custom-switch">
		<input 	name="{{ field.name }}" 
				type="checkbox" 
				class="custom-control-input {{ class_validness }}" 
				id="{{ field.id }}" 
				{{ checked }}  
				value="y">
		<label  class="custom-control-label" 
				for="{{ field.id }}" 
				value="{{ field.data }}">
		</label>
	</div>				
{%- endmacro %}

{% macro render_textfield(field, size, class_validness) -%}	
	{{ field(size=size, class_="form-control "+ class_validness) }}
{%- endmacro %}


{% macro render_form(form, update_is_success) -%}
	<form method="post">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	{% for field in form %}
		<div class="form-row align-items-center">
			<div class="col-sm-4 my-1">{{ field.label(class_ = "col-auto my-1") }}</div>
			<div class="col-sm-2 my-1">
		{% set print_field = "" %}
		{% set print_errors = "" %}
		{# Add a list or errors if the form failed #}
		{% if field.errors %}
			{# Case of a Failed form #}
			{% set class_validness = "is-invalid" %}
			{{ render_field(field, size, class_validness) }}
			{% for error in field.errors %}
				<div class='invalid-feedback'>
					{{ error }}
				</div>
			{% endfor %}
		{% else %}
			{% if update_is_success %}
				{# Case of a Success form #}
				{% set class_validness = "is-valid" %}
				{{ render_field(field, size, class_validness) }}
			{% else %}
				{# Case of a New form #}
				{% set class_validness = "" %}
				{{ render_field(field, size, class_validness) }}
			{% endif %}
		{% endif %}
			</div>
		</div>
	{% endfor %}
	<div class="col-auto my-1">
		<input type=submit class="btn btn-primary" name="submit" value="Update">
		{# Add a "succes" or "Fail" Tag #}
		{% if form.errors %}
			{# Case of a Failed form #}
			<span class="badge badge-pill badge-danger">Failed</span>
		{% else %}
			{% if update_is_success %}
				{# Case of a Success form #}
				<span class="badge badge-pill badge-success">Updated</span>
			{% else %}
				{# Case of a new form: pass #}
			{% endif %}
		{% endif %}
	</div>
</div>
</form>
{%- endmacro %}
