{% extends "index.html" %}


{% block content %}
		<div class="container-fluid">
		  <div class="row">
			  <div class="container" >

				{% for section_name, section_dict in params.items(): %}
				<h3>{{ section_name }}</h3>
				{% for key, value in section_dict.items(): %}
				<form>
				  <div class="form-row align-items-center">
					<div class="col-sm-3 my-1">
						<label class="col-auto my-1">{{ key }}</label>
					</div>
					<div class="col-sm-3 my-1">
					  <label class="sr-only" for="inlineFormInputName">{{ key }}</label>
					  <input type="text" readonly class="form-control" id="inlineFormInputName" value="{{ value }}">
					</div>				  
				  </div>
				</form>
				{% endfor %}
				{% endfor %}
				
			  </div>
			</div>
		</div>	
{% endblock %}
 
