click==6.7
cssmin==0.2.0
enum34==1.1.6
Flask==0.12.2
Flask-Assets==0.12
Flask-HTTPAuth==3.2.3
Flask-SQLAlchemy==2.3.2
future==0.16.0
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pathlib==1.0.1
pyScss==1.3.5
python-highcharts==0.4.1
python-nvd3==0.14.2
python-slugify==1.1.4
six==1.11.0
SQLAlchemy==1.2.5
Unidecode==1.0.22
webassets==0.12.1
Werkzeug==0.14.1
