
    <!-- BEGIN FOOTER -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
	<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/stock/indicators/indicators.js"></script>
	<script src="https://code.highcharts.com/stock/indicators/volume-by-price.js"></script>

    <script src="/static/js/custom-highstock.js"></script>
    <script src="/static/js/get-env.js"></script>

    <!-- Latest compiled and minified JavaScript
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<!-- END FOOTER -->
	
	{% if not local_display %}
		{% if history_form_data %}

			{{ datepicker.loader(theme="base") }} {# to load jQuery-ui #}
			{{ datepicker.picker(	id=".dp", 
									maxDate=history_form_data.max_date, 
									minDate=history_form_data.min_date) }}
		{% endif %}
	{% endif %}
  
  </body>
</html>
