<!DOCTYPE html>
<html lang="fr">
  <head>
{% if local_display %}
	<meta http-equiv="refresh" content="30">
{% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{context.app_name}}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	
  </head>
  <body>
