<!DOCTYPE html>
<html lang="fr">
  <head>
	{% if local_display %}
		<meta http-equiv="refresh" content="30">
	{% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
	{% if context %}
			{{config.APP_NAME}}
	{% endif %}
	</title>

    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	
	<link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
	
  </head>
  <body>
