<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{config.APP_NAME}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
		<li class="nav-item"><a class="nav-link" href="{{ url_for('charts.local_display') }}">Local</a></li>
		<li class="nav-item"><a class="nav-link" href="{{ url_for('charts.now') }}">Température</a></li>

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Historique</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			  <a class="dropdown-item" href="{{ url_for('charts.now', hours=6) }}">6 heures</a>
			  <a class="dropdown-item" href="{{ url_for('charts.now', hours=12) }}">12 heures</a>
			  <a class="dropdown-item" href="{{ url_for('charts.now', hours=73) }}">3 jours</a>
			  <a class="dropdown-item" href="{{ url_for('monitor.monitor') }}">Monitor</a>
			</div>
		</li>		
	</ul>
	
	{% if current_user.is_authenticated %}
	<ul class="nav justify-content-end">
			<li class="nav-item"><span class="nav-link badge badge-primary">Admin</span></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('admin.log') }}">Log</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('admin.index') }}">SysInfo</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('admin.config') }}">Config</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
		<!--<li class="nav-item"><span class="nav-link badge badge-primary">{# current_user.name #}</span></li>-->
	</ul>
	{% else %}
		{% include "_log_admin_form.html" %}
	{% endif %}
    
	
  </div>
</nav>

