<!-- 
La variable local_display est utilisée pour 
- désactiver le menu et le formulaire de recherche par date si l'affichage est sur écran local.
- si local_display, auto refres chaque minute
-->

{% include "_header.html" %}

{% include "_navbar.html" %}

<div class="container-fluid">	
	{% with messages = get_flashed_messages(with_categories=true) %}
	  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
	  {% if messages %}
		{% for category, message in messages %}
			<div class="alert alert-{{ category }}" role="alert">
			{{ message }}
			
			</div>
		{% endfor %}
	  {% endif %}
	{% endwith %}	

	{% block content %}
	{% endblock %}
</div>    
<hr>
 
<script type="text/javascript">
	// Those parameters are :
	//	- set in flask view
	//  - copied in a JS variable to be accessible to javascript
	{% if chart_params %}
		var JS_base_URL = "{{ request.host_url }}";
		var JS_chart_json_template = "{{ chart_params.json_template }}";
		var JS_begin_date = "{{ chart_params.begin_date }}";
		var JS_hours_lenth = "{{ chart_params.hours_length }}";
	{% endif %}
 </script>
 
{% include "_footer.html" %}
