{% extends "index.html" %}

{% block content %}
		<div class="container-fluid">
		  <div class="row">
			  <div class="container"  style="height: 400px" id="staticchart-container">
			  </div>
			</div>
		</div>
   	
	{% if render_static_chart %}
		<div class="container-fluid">
		  <div class="row">
			  <div class="container"  style="height: 400px" id="staticchart-container"></div>
			</div>
		</div>
		<div class="container-fluid">
		  <div class="row">
			  <div class="container">{{ chart_legend.text|safe}}</div>
			</div>
		</div>
	{% endif %}
	
	{% if staticchartraw %}
		<div class="container-fluid">
		  <div class="row">
			  <div class="container"  style="height: 800px" id="staticchartraw-container"></div>
			</div>
		</div>
	{% endif %}
	
{% endblock %}
 
